<div class="container-fluid">
  <div class="row intro-img">
    <div id="intro-pic" class="container-fluid image-container-outer">
      <div class="row" style="margin-top: 140px;">
        <div class="col-md-offset-3 col-md-3 ">
          <h1 class="text-form text"><b><p style="color: white;">I use Workit</p></b></h1>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control input-lg text-form form" placeholder="to reduce my drinking" style="font-size: 29px">
        </div>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-md-offset-3 col-md-3 ">
          <h1 class="text-form2 text"><b><p style="color: white;">...because</p></b></h1>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control input-lg text-form2 form" placeholder="my kids." style="font-size: 29px">
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-offset-6 col-md-6 ">
          <button type="button" class="btn btn-primary main main-green main-lg btn-squared" style="margin-right: 10px"><b>Try it Free Today</b></button>
          <button type="button" class="btn btn-primary main main-gray main-lg btn-squared"><b>Learn More</b></button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-center" style="margin-top: -30px">
      <% @companies = get_companies %>
      <ul class="companies-list">
        <% @companies.each_with_index do |company, i| %>
          <li class="company-item">
            <%= image_tag('companies/' + company + ".png", class: 'company-pic') %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <div class="span4"></div>
      <div class="span4"></div>
        <%= image_tag "sad_heart.png", id: "sad-heart", class: "center-block" %>
      </div>
      <div class="span4"></div>
    </div>
  </div>
  <h2 id="main-text"><b><p class="text-center"> We created the world's first, digital addiction care program... for our loved ones </p></b></h2>
  <div class="text-center" style="margin-top: 80px; margin-bottom: 30px;">
    <%= image_tag "devices.png", id: "devices" %>
    <b style="margin: 25px; position:relative; top: -10px; bottom: 25px; font-size: larger">+</b>
    <%= image_tag "phones.png", id: "devices" %>
  </div>
  <div class="container-fluid vice-container" style="background: #F4F5F6">
    <div class="row">
      <h2><p class="text-center">1 in 8 of us struggle with these.</p></h2>
      <h2><b><p class="text-center" style="margin-top:-12px">We can help.</p></b></h2>
    </div>
    <div class="row vice">
      <div class="col-md-12">
        <% @vices = vice_pictures %>
        <ul id="vice-list">
          <% @vices.each_with_index do |vice, i| %>
            <li class="vice-item">
              <%= image_tag('vices/' + vice[:image], class: 'vice-pic img-circle') %>
              <span class='label label-success label-md vice-caption'><span style="font-size:medium">Control <strong><%= vice[:title] %></strong></span></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding-bottom: 40px; padding-top: 40px">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h2 id="main-text">How people like you are using Workit</h2>
        <h4 class="small-txt">*All names changed for privacy and confidentiality, of course</h4>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "intro-pic.jpg", style: "height:400px", class: "carousel-img center-block" %>
      </div>
      <div class="item">
        <%= image_tag "intro-pic.jpg",  style: "height:400px", class: "carousel-img center-block" %>
      </div>
      <div class="item">
        <%= image_tag "intro-pic.jpg",  style: "height:400px", class: "carousel-img center-block" %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control layout-landscape" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control layout-landscape" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container-fluid" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h2 id="main-text">We have an 80% success rate and are backed by experts.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h4 class="small-txt">We built Workit to be the addiction care program for the 21st century</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="grey-grad">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <button type="button" style="margin-right: 5px;" class="btn btn-primary main main-green main-lg btn-squared"><b>Try it Free Today</b></button>
        <button type="button" style="margin-left: 5px;" class="btn btn-primary main main-gray btn main-lg btn-squared"><b>Learn More</b></button>
      </div>
    </div>
    <div class="row" style="margin-top: 3cm; margin-bottom: 4px;">
      <div class="col-md-4 col-md-offset-7 text-right">
        <a href="#" id="board-link">See Our Entire Clinical Advisory Board</a>
      </div>
    </div>
    <div class="row text-center">
      <% @board = get_clinical_board %>
      <ul class="board-list">
        <% @board.each_with_index do |member, i| %>
          <li class="board-item">
            <%= image_tag('clinical_board/' + member, class: 'board-member-pic') %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row text-center"><h2 id="main-text">Which Workit program is right for you?</h2></div>
    <div class="row text-center">
      <%= image_tag "single.png", id: "program-pic" %>
      <%= image_tag "family.png", id: "program-pic" %>
    </div>
    <div class="row text-center">
      <button type="button" id="program-btn" class="btn btn-primary outline outline-lg btn-squared"><b style="font-size: 16px;">Get Support Today</b></button>
    </div>
  </div>
  <div class="container-fluid founder-container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h2 id="main-text">Meet Workit's Co-founders... with +20 years of sobriety</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="small-txt">We are patient-as-designers. We felt addiction has been underserved for too long. So we built Workit Health.</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center" style="padding-top:38px; padding-bottom: 5cm;">
    <div class="row" style="padding-bottom: 40px;">
      <h2 style="font-size: 33px;">Workit has helped thousands</h2>
      <h2 style="margin-top: -8px; font-size: 33px;">of people just like you get control.</h2>
      <h4 class="small-txt" style="margin-top: 4px;">If you're not 100% satisfied, we'll give your money back.</h4>
      <h4 class="small-txt">No questions asked. We're here to help.</h4>
      <%= image_tag "wagon_heart.png", id: "wagon-heart" %>
    </div>
    <button type="button" class="btn btn-primary btn-rounded btn-start"><b>Today is the day.</b></button>
  </div>
</div>
